.greenSkin{
  // 文字颜色
  .color1{color: rgba(164, 208, 9, 1);}
  .color2{color: rgba(255, 255, 255, 1);}
  // .color3{color: rgba(172, 220, 245, 1);}
  .color3{color: rgba(138, 221, 255, 1)}
  .color4{color: rgba(214, 255, 71, 1);}
  .color5{color: rgba(255, 233, 194, 1);}


  //背景颜色  
  .back1{background-color:rgba(11,39,58,1);}

  .back2{background-color:rgba(76,107,34,1);}

  .back3{background-color:rgba(3,23,38,1);}

  // .back4NoHover{background-color:rgba(22,32,45,1);}
  // .back4Active{background-color:rgba(17,24,34,1);}
  // .back4{background-color:rgba(22,32,45,1);}
  // .back4:hover{background-color:rgba(17,24,34,1);}
  .back4NoHover{background-color:rgba(22,32,45,1);}
  .back4Active{background-color:rgba(17,24,34,1);}
  .back4{background-color:rgba(5,24,36,1);}
  .back4:hover{background-color:rgba(3,17,26,1);}

  .back5{background-color:rgba(86, 159, 203, 1);}

 
}
.greenSkin.bodyBg{
  background-color:rgba(11,39,58,1);
}
